@page
@using Migyston_web_app.Models
@model Migyston_web_app.Pages.ServiceModel
@{
    ViewData["Title"] = "Add";
}

<h1 class="display-3">ADD</h1>
<br />
<div class="row">
            <div class="col-md bg-dark bg-gradient text-white p-4">
              <h2 class='display-4'>ADD PRODUCT</h2>
              <p>
                Add a new product article below; title and EAN number must be filled:
              </p>

<form method="post">
        <div asp-validation-summary="All"></div>
    
    <div>
                <label class="form-control-lg" asp-for="NewProduct.product_title">Name:</label>
                <br />
                <input type="text" asp-for="NewProduct.product_title" class="mr-5">
                <br />
                
                <label class="form-control-lg" asp-for="NewProduct.ean_number">EAN:</label>
                <br />
                <input type="text" asp-for="NewProduct.ean_number" class="mr-5">
                <br />

                <label class="form-control-lg" asp-for="NewProduct.product_description">Description:</label>
                <br />
                <input type="text" asp-for="NewProduct.product_description" class="mr-5">
                <br />

                <label class="form-control-lg" asp-for="NewProduct.price">Price:</label>
                <br />
                <input type="number" asp-for="NewProduct.price" class="mr-5" />
                <br />

                <label class="form-control-lg" asp-for="NewProduct.amount_storage">Amount:</label>
                <br />
                <input type="number" asp-for="NewProduct.amount_storage" class="mr-5" />
                <br />

                <label class="form-control-lg" asp-for="NewProduct.expiration_date">Exp. Date</label>
                <br />
                <input type="text" asp-for="NewProduct.expiration_date" class="mr-5" />
                <br />

                <label class="form-control-lg" asp-for="NewProduct.category">Category</label>
                <br />
                <select asp-for="NewProduct.category" asp-items="Html.GetEnumSelectList<ProductSize>()" class="mr-5"></select>
                <br />

                <label class="form-control-lg" asp-for="NewProduct.isSwedish">Made in Sweden</label>
                <br />
                <input type="checkbox" asp-for="NewProduct.isSwedish" class="mr-5">
                <br />

        <button class="btn btn-primary">Add</button>
    </div>
</form>
    </div>



    <div class="col-md bg-dark bg-gradient text-white p-4">
        <h2 class='display-4'>PRODUCT LIST</h2>
        <p>
            The latest new products are shown first:
        </p>

    @foreach (var product in Model.products)
    {
            <article>
                            <h3>@product.product_title <br/>Article # @product.id</h3>

                <br />
                <strong>Product title:</strong>
                <p className="list">@product.product_title</p>
                
                <strong>Article number:</strong>
                <p>@product.id</p>
                
                <strong>EAN number:</strong>
                <p>@product.ean_number</p>
                
                <strong>Product description:</strong>
                <p>@product.product_description</p>
                
                <strong>Selling price:</strong>
                <p>@($"{product.price:C}") kr</p>
                
                <strong>Amount in storage:</strong>
                <p id="storage">@product.amount_storage</p>
                
                <strong>Expiration date:</strong>
                <p>@product.expiration_date</p>
                
                <strong>Category:</strong>
                <p>@product.category</p>
                
                <strong>Natíonality:</strong>
                <p>@Model.IsSwedish(product)</p>

                <form method="post" asp-page-handler="Delete" asp-route-id="@product.id">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <br /><br />
            </article>
    }
</div>
</div>

<style>
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 1.8em;
    }


    h3 {
        font-size: 2.2em;
    }


    strong, label {
        font-size: 1.35em;
    }

    .col-md {
        text-align:center;
    }
    </style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}