@page
@using Migyston_web_app.Models
@model Migyston_web_app.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-3">EDIT</h1>
<br />
<div class="row">
    <div class="col-md bg-dark bg-gradient text-white p-4">
        <h2 class='display-4'>EDIT PRODUCT</h2>
        <p>
            Edit a product article below; latest created shown first; use browsers seacrh function to find (ctrl+f):
        </p>

        @foreach (var product in Model.products) {

        <form method="post" id="@product.id">
            <div asp-validation-summary="All"></div>

                <h3> @product.product_title <br />Article # @product.id</h3>
                
                <label class="form-control-lg" asp-for="NewProduct.product_title">Name:</label>
                <br />
                    <input type="text" asp-for="NewProduct.product_title" class="mr-5" value="@product.product_title">
                <br />

                <label class="form-control-lg" asp-for="NewProduct.ean_number">EAN:</label>
                <br />
                <input type="text" asp-for="NewProduct.ean_number" class="mr-5" value="@product.ean_number">
                <br />

                <label class="form-control-lg" asp-for="NewProduct.product_description">Description:</label>
                <br />
                <input type="text" asp-for="NewProduct.product_description" class="mr-5" value="@product.product_description">
                <br />

                <label class="form-control-lg" asp-for="NewProduct.price">Price:</label>
                <br />
                <input type="number" asp-for="NewProduct.price" class="mr-5" value="@product.price"/>
                <br />

                <label class="form-control-lg" asp-for="NewProduct.amount_storage">Amount:</label>
                <br />
                <input type="number" asp-for="NewProduct.amount_storage" class="mr-5" value="@product.amount_storage"/>
                <br />

                <label class="form-control-lg" asp-for="NewProduct.expiration_date">Expiration Date</label>
                <br />
                <input type="text" asp-for="NewProduct.expiration_date" class="mr-5" value="@product.expiration_date" />
                <br />

                <label class="form-control-lg" asp-for="NewProduct.category">Category</label>
                    <p><strong>@product.category</strong><br /><br /> If needed, change to new size:</p>
                    <select asp-for="NewProduct.category" asp-items="Html.GetEnumSelectList<ProductSize>()" class="mr-5" selected="@product.category">
                        </select>       
                <br /><br />

                <label class="form-control-lg" asp-for="NewProduct.isSwedish">Made in Sweden</label>
                    <br />

                    @if (product.isSwedish == true)
                    {
                        <input type="checkbox" asp-for="NewProduct.isSwedish" class="ckbox" checked>
                    } else {
                        <input type="checkbox" asp-for="NewProduct.isSwedish" class="ckbox">
                    }

                <input type="hidden" asp-for="NewProduct.id" class="mr-5" value="@product.id" />
                <br /><br />
                    
                <input id="@product.id" type="submit" class="btn btn-primary" value="Update information!" />
                 <hr /><br />
        </form>
        }
    </div>
 

<style>

    input.ckbox {
        width:25px;
        height:25px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 1.8em;
    }

        h3 {
            font-size: 2.2em;
        }

    button {
        font-size: 2em;
        font-weight:800;
    }

    label {
        font-size: 2em;
    }

    strong {
        font-size: 1.5em;
    }

    hr {
        color: yellow;
        border:20px;
    }

    .col-md {
        text-align: center;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}